body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    font-size: 20px;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f1f1f1;
    padding: 20px;
    height: 100%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #8e44ad, #5d2d8d);
    
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
    
  }
  
  .sidebar a {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 50px;
    text-decoration: none; 
  }

  .sidebar a i {
    color: wheat; 
  }

  .content {
    flex: 1;
    padding: 20px;
  }
  